<h2>
Hello, 
</h2>

<p>
Thanks for trying to return {{tag._id}}. The tag owner provided the following instructions to get its item back: 
</p>

<hr />
<pre>

{{tag.responseText}}
</pre>

<hr />
<p> This email was sent to {{ to }} following a request from {{ appName}}
If you didn't try to subscribe to our service, please ignore this email. 
We are sorry for this.
</p>