<!DOCTYPE html>
<html>

<head>
	<title>{{ title }} - Lost n Found</title>
	<link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css" />
	<link rel="stylesheet" href="/public/css/app.css" />
</head>
<body>
	<main>
		<h1>Lost n Found</h1>
		{{{body}}}
	</main>
</body>

</html>