{{#ifEquals locale 'en' }}
<h2>How does it work</h2>
<ol>
  <li><a href="/t">Create a tag</a></li>
  <li>Print it</li>
  <li>Stick it on you stuff</li>
  <li>Get it lost!</li>
</ol>

When an item is found, the tag can be scanned, the finder may provide email address to get instructions

<h2>Why?</h2>

<p>I wanted to mark items in case it was lost, but I was a bit scared to put personal information on stuff that might end in strangers hands. 
  With this solution, the item can be retrieved without the fear of being harrassed by phone or at your house: you can choose what kind of 
  information to disclose and only for people willing to return it.</p>
{{/ifEquals}}

{{#ifEquals locale 'fr' }}
<h2>Comment ça marche</h2>

<h2>Pourquoi ?</h2>

<p>Je voulais mettre une marque sur mes objets en cas de perte, mais j'avais peur de laisser trainer mes données personnelles et qu'elles tombent entre de mauvaises mains.
  Avec cette solution, on peut récupérer mes biens sans avoir peur de me faire harceler au téléphone ou chez moi: on peut choisir la nature des informations à divulguer et 
  celles-ci sont transmise à des personnes qui ont réekllement envie de rendre ce qui a été perdu.
</p>
{{/ifEquals}}