{{#>layout title=(__ 'About')}}
{{#if (eq locale 'en') }}
<h2>How does it work</h2>
<ol>
	<li>Prepare your tags:
		<ol>
			<li><a href="/tags">Create a tag</a></li>
			<li><a href="/pdf">Print it</a></li>
			<li>Stick it on you stuff</li>
			<li>Get it lost!</li>
		</ol>
	</li>
	<li>When an item is found:
		<ol>
			<li>Scan the tag</li>
			<li>Provide an email address</li>
			<li>Verify your email addressm to receive the return instructions</li>
			<li>Follow the instructions provided by the owner</li>
			<li>Return the item</li>
			<li>Happy owner gets its item back!</li>
		</ol>
	</li>
</ol>

<h2>Why?</h2>
<p>I wanted to mark items in case it was lost, but I was a bit scared to put personal information on stuff that might
	end in strangers hands.
	With this solution, the item can be retrieved without the fear of being harrassed by phone or at your house: you can
	choose what kind of
	information to disclose and only for people willing to return it.</p>
{{/if}}

{{#if (eq locale 'fr') }}
<h2>Comment ça marche</h2>
<ol>
	<li>Preparer vos tags:
		<ol>
			<li><a href="/tags">Créer un tag</a></li>
			<li><a href="/pdf">Imprimer le</a></li>
			<li>Coller le sur vos affaires</li>
			<li>Perdez vos affaires!</li>
		</ol>
	</li>
	<li>Quand un objet est trouvé:
		<ol>
			<li>Scanner le tag</li>
			<li>Fournissez votre adresse email pour recevoir les instructions de retour</li>
			<li>Vérifiez cette adresse</li>
			<li>Suivez les instructions fournies par le propriétaire</li>
			<li>Arrangez le retour</li>
			<li>Heureux propriétaire retrouve ses affaires!</li>
		</ol>
	</li>
</ol>

<h2>Pourquoi ?</h2>
<p>Je voulais mettre une marque sur mes objets en cas de perte, mais j'avais peur de laisser trainer mes données
	personnelles et qu'elles tombent entre de mauvaises mains.
	Avec cette solution, on peut récupérer mes biens sans avoir peur de me faire harceler au téléphone ou chez moi: on
	peut choisir la nature des informations à divulguer et
	celles-ci sont transmise à des personnes qui ont réekllement envie de rendre ce qui a été perdu.
</p>
{{/if}}
{{/layout}}