{{#>layout title=(__ 'Unexpected Error')}}
<p>
An Error Occured: {{ error.code }}
</p>
{{#if error.details }}
<pre>{{error.details}}</pre>
{{/if}}
{{#if (eq env 'dev')}}
<pre>{{debug error}}</pre>
{{/if}}
{{/layout}}