<h2>Confidentialité et données personnelles</h2>

<p>Le but duprojet au départ est bien de protéger ses données personnelles. ous n;exploiterons pas vos données personnelles. Nous concervons uniquement votre adresse email pour vous identifier et vous niotifier lorsqu'un de vos objet est retrouvé.</p>
<p> Les informations que vous pouvez mettre dans les instructions ne seront partagées qu'avec la personne qui a retrouvé un objet perdu, à vous de faire attention à ce que vous y mettez.</p>

<p>En cas de doute ou pour toute question spécifique, n'hésitez pas à nous le faire savoir en écrivant à <a href="mailto:{{email_support}}?subject=Confidentialité et données personnelles">{{email_support}}</a></p>