<p>{{ __ "This tag has been reported found by someone, but you didn't reported its loss" }}</p>
<form method="post">
	<button type="submit" value="activate" name="action">{{ __ 'Report loss and approve request'}}</button>
	<button type="submit" value="reject" name="action">{{ __ 'Tag still not lost, reject request'}}</button>
</form>

{{> discoverySummary }}
