
<form action="/login" method="post">
{{#if url}}<input type="hidden" name="redirect" value="{{url}}" />{{/if}}
<p>
  <label for="email">{{ __ 'Enter your email to get a Magic Link and connect' }}</label>
  <input type="email" id="email" name="email" />
</p>
<button type="submit">{{ __ 'Send me a magic link' }}</button>
</form>

